.container {
  padding-top: 15%;
  padding-bottom: 5%;
}

@media screen and (max-width: 1500px) {
  .container {
    padding-top: 25%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding-top: 40%;
    padding-bottom: 15%;
    width: 50px;
  }
}

.main-container {
  background: white url(//www.html.am/images/backgrounds/background-image-2.gif);
  background-repeat: repeat;
  height: 100%;
}
